* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #3d3d41;
}

::-webkit-scrollbar-thumb {
  background: #194cb4;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4986ff;
}