body {
  background: #181829;
}

h1 {
  font-family:nunito;
  color: white;
}

form {
  display: flex;
}

#part {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  background: #246BFD;
  border-radius: 0px 7px 7px 0px;
  border: none;
  box-shadow: none;
}

input {
  width: 1146px;
  height: 50px;
  left: 147px;
  top: 3772px;
  background: #ECECEC;
  border-radius: 7px 0px 0px 7px;
}